.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.admonition.note>.admonition-title, div.admonition.note>.admonition-title {
    background-color: var(--pst-color-success-bg);
}

.admonition.note>.admonition-title:after, div.admonition.note>.admonition-title:after {
    color: var(--pst-color-success);
}

.admonition.note, div.admonition.note {
    border-color: var(--pst-color-success);
}

.boldred {
    color: white;
    background-color: red;
    font-weight: bold;
}

.boldorange {
    color: white;
    background-color: orange;
    font-weight: bold;
}

.boldgreen {
    color: white;
    background-color: green;
    font-weight: bold;
}

.boldblue {
    color: white;
    background-color: blue;
    font-weight: bold;
}

.boldblack {
    color: white;
    background-color: black;
    font-weight: bold;
}
